body {
  a {
    text-decoration: none;
  }
  a.is-unresolved {
    color: rgb(67, 102, 125);
  }
  table {
    border-collapse: collapse;
    border-style: hidden;
  }
  th, td {
    padding: 0rem 0.5rem;
  }
}